 <div class="input-group my-1">
  <span class="input-group-text">Tiempo Máximo de Llegada</span>
    <input type="number" @bind="Configuracion.MinTiempoLlegada" class="form-control text-center"/>
</div>
<div class="input-group my-1">
  <span class="input-group-text">Tiempo Minimo de Llegada</span>
    <input type="number" @bind="Configuracion.MinTiempoLlegada" class="form-control text-center"/>
</div>

@code {

}
