@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4 d-flex justify-content-start">
            <h5>
                <strong>Simulador de Taller de Ensamblaje y Pintado de Marcos para Cuadros</strong>
            </h5>
        </div>

        <div class="content row px-4 mx-5">
            <div class="col-12">
                @Body
            </div>
@*
            <div class="col-4">
                <PanelLateral/>
            </div>*@
        </div>

    </div>
</div>
