<div class="card col-2 m-2 p-0">
    <div class="card-body">
        @if(Marco != null)
        {
            <span>Empaquetando</span>
            <img src="/Resources/empaquetando.gif" width="100%"/>
        }
        else
        {
            <h6>
                <strong>No hay ningún marco empaquetándose</strong>
            </h6>
        }
    </div>

    @if(Marco != null)
    {
        <div class="card-footer">
            <div class="row d-flex align-items-center">
                <div class="col-9 pr-0">
                    <BarraProgreso Max="@Marco.MinutosParaEmpaquetar" Progreso="@MinutosEnEmpaquetado" Color="danger"/>
                </div>
                <div class="col-3 p-0">
                    <span>@(Marco.MinutosParaEmpaquetar)m</span>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Marco Marco { get; set; }

    [Parameter]
    public int MinutosEnEmpaquetado { get; set; }
}